body {
  font-family: "Archivo", sans-serif;
  text-align: center;
  background: #11171D;
}

.all1 {
  padding: 2.5rem 0;
  border-bottom: 1px #6ad3b27a dashed;
  height: 33rem;
}

.containerWriteups {
  margin: 0 auto;
  width: 70%;
}

.textwidget1 {
  color: white;
  font-size: 0.8rem;
}

.ReadFullWriteup {
  position: absolute;
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
  border: 1px #6ad3b27a dashed;
  padding: 0.6rem;
  margin-top: 2.2rem;
  margin-left: -4.0rem;
  margin-bottom: 0.6rem;
  z-index: 1;
  transition: all 0.7s linear;
}
.gglimeg {
  width: 4rem;
  height: 4rem;
}

.ReadFullWriteup:hover {
  background-color: #6ad3b1;
}



.title {
  margin: 0 0 2.5rem;
  color: #6ad3b1;
  font-size: 1.75rem;
  text-shadow: 0 0 0.75rem;
}

.shadow1 {
  position: absolute;
  width: 100%;
  margin-top: 0.06rem;
  height: 1.89rem;
  transition: all 0.7s linear;
  border-top: 0;
  margin-left: 0;
}

.row2:hover .shadow1 {
  transition: all 0.4s linear;
  background: #6ad3b210;
  transform: scale(1, 14);
}

.row1 {
  width: 100%;
  height: 15rem;
  background-color:#11171D;
  margin :0 auto;
  border: 1px  #6ad3b27a dashed;
  padding: 1.25rem 0 0 0;
  position: relative;
  margin-bottom: 1.8rem;
}

  .row1::before {
    position:absolute;
    content:'';
    width: 20%;
    height:16.7rem;
    background:#6ad3b1;
    margin-top:-1.4rem;
    left:-0.13rem;
    z-index: -1;
    transition: all 0.5s linear;
  }
  
  .row1::after {
  position:absolute;
    content:'';
    width: 20%;
    height:16.7rem;
    background: #6ad3b1;
    margin-top: -10.10rem;
    /* margin-top: -16.4rem; */
    right:-0.13rem;
    z-index: -1;
    transition: all 0.5s linear;
  }

.row2:hover.row2::before,
.row2:hover.row2::after {
  width: 100%;}