@media only screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 33rem;
  }
}
body{
    
    font-family: "Archivo", sans-serif;
    text-align: center;
    background: #11171D;
   
}
.all1{
  padding: 2.5rem 0;
  border-bottom: 1px  #6ad3b27a dashed;
  height: 33rem;
}

.container1 {
    margin: 0 auto;
    width: 70%;    
}
.textwidget{
    color: white;
    font-size: 0.9rem;
    margin-bottom: 3rem;
}
.boxImg1{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  margin-bottom: 0.6rem;
}
.boxImg2{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}

.imeg1{
    width: 10.3rem;
    height: 3.4rem;
}
.imeg2{
  width: 10.3rem;
  height:fit-content;
}
.title{
  margin:0 0 2.5rem;
    color: #6ad3b1;
    font-size: 1.75rem;
    text-shadow: 0 0 0.75;
}


.shadow{
    position: absolute;
    width: 100%;
    margin-top: 2.2rem;
    height: 1.18rem;
    transition: all 0.7s linear;
    border-top: 0;
    margin-left: 0;
 
}

.row1:hover .shadow{ 
  transition: all 0.4s linear;
  background:#6ad3b210;
  transform: scale(1, 14);
}

.row1 {
  width: 100%;
  height: 15rem;
  background-color:#11171D;
  margin :0 auto;
  border: 1px  #6ad3b27a dashed;
  padding: 1.25rem 0 0 0;
  position: relative;
  margin-bottom: 1.8rem;
}

  .row1::before {
    position:absolute;
    content:'';
    width: 20%;
    height:16.7rem;
    background:#6ad3b1;
    margin-top:-1.4rem;
    left:-0.13rem;
    z-index: -1;
    transition: all 0.5s linear;
  }
  
  .row1::after {
  position:absolute;
    content:'';
    width: 20%;
    height:16.7rem;
    background: #6ad3b1;
    margin-top:-13.3rem;
    right:-0.13rem;
    z-index: -1;
    transition: all 0.5s linear;
  }
  
  .row1:hover.row1::before,
  .row1:hover.row1::after{
    width:100%;
    box-shadow: 0 0 9px 3px  #6ad3b1;
    transition: all 0.7s linear;
    background:#6ad3b210;
  }

  .seemore1{
    text-align: center;
    text-decoration: none;
    display: block;
    position: absolute;
    right:15%;
    border: 1px  #6ad3b27a dashed;
    padding:0.6rem;
    color:#ffff;
    
  }

.seemore1::before{
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
  background: #6AD3B1;
  transition: all 0.5s linear;
  z-index: -1;
}
    
.seemore1:hover.seemore1::before{
  width:100%;

}

@media only screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 33rem;
  }
}
body{
    
    font-family: "Archivo", sans-serif;
    text-align: center;
    background: #11171D;
   
}
.all1{
  padding: 2.5rem 0;
  border-bottom: 1px  #6ad3b27a dashed;
  height: 33rem;
}

.container1 {
    margin: 0 auto;
    width: 70%;    
}
.textwidget{
    color: white;
    font-size: 0.9rem;
    margin-bottom: 3rem;
}
.boxImg1{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  margin-bottom: 0.6rem;
}
.boxImg2{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}

.imeg1{
    width: 10.3rem;
    height: 3.4rem;
}
.imeg2{
  width: 10.3rem;
  height:fit-content;
}
.title{
  margin:0 0 2.5rem;
    color: #6ad3b1;
    font-size: 1.75rem;
    text-shadow: 0 0 0.75;
}


.shadow{
    position: absolute;
    width: 100%;
    margin-top: 2.2rem;
    height: 1.18rem;
    transition: all 0.7s linear;
    border-top: 0;
    margin-left: 0;
 
}

.row1:hover .shadow{ 
  transition: all 0.4s linear;
  background:#6ad3b210;
  transform: scale(1, 14);
}

.row1 {
  width: 100%;
  height: 15rem;
  background-color:#11171D;
  margin :0 auto;
  border: 1px  #6ad3b27a dashed;
  padding: 1.25rem 0 0 0;
  position: relative;
  margin-bottom: 1.8rem;
}

  .row1::before {
    position:absolute;
    content:'';
    width: 20%;
    height:16.7rem;
    background:#6ad3b1;
    margin-top:-1.4rem;
    left:-0.13rem;
    z-index: -1;
    transition: all 0.5s linear;
  }
  
  .row1::after {
  position:absolute;
    content:'';
    width: 20%;
    height:16.7rem;
    background: #6ad3b1;
    margin-top:-13.3rem;
    right:-0.13rem;
    z-index: -1;
    transition: all 0.5s linear;
  }
  
  .row1:hover.row1::before,
  .row1:hover.row1::after{
    width:100%;
    box-shadow: 0 0 9px 3px  #6ad3b1;
    transition: all 0.7s linear;
    background:#6ad3b210;
  }
  

  .seemore{
    text-align: center;
    text-decoration: none;
    display: block;
    position: absolute;
    right:15%;
    border: 1px  #6ad3b27a dashed;
    padding:0.6rem;
    color:#ffff;
    
  }

.seemore::before{
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
  background: #6AD3B1;
  transition: all 0.5s linear;
  z-index: -1;
}
    
.seemore:hover.seemore1::before{
  width:100%;

}